<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCWLgEQxl0mnZri3IiFVfx6McA_1pQflXk</string>
	<key>GCM_SENDER_ID</key>
	<string>138371306067</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.everGreen</string>
	<key>PROJECT_ID</key>
	<string>land-of-evergreen</string>
	<key>STORAGE_BUCKET</key>
	<string>land-of-evergreen.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:138371306067:ios:1ae3eb2a0877aae6e0eca6</string>
</dict>
</plist>